.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 329px;
  margin-bottom: 30px;
}

.not-found__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 284px;
  padding: 0;
  max-width: 100%;
}

.not-found__title {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 15px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  padding: 0;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .not-found__title {
    font-size: 140px;
    line-height: 169px;
  }
  .not-found {
    margin-top: 399px;
  }
  .not-found__text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 184px;
  }
}

@media screen and (min-width: 1280px) {
  .not-found {
    margin-top: 237px;
  }
}