.search-form {
  width: 100%;
  position: relative;
}

.search-form__movies {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border: none;
  padding: 0;
  margin: 0 auto;
}

.search-form__input {
  width: 100%;
  height: 72px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #f9f9f9;
  border-radius: 9px;
  padding-left: 15px;
}

.search-form__input::placeholder {
  padding-left: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
}

.search-form__button {
  position: absolute;
  border: none;
  background-image: url(../../images/find.svg);
  width: 34px;
  height: 34px;
  background-color: inherit;
  right: 19px;
}

.search-form__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 46px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 41px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(232, 232, 232);
}

.search-form__text {
  margin: 0;
  padding: 0;
  padding-left: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #000000;
}

.search-form__switch {
  outline: none;
  appearance: none;
  width: 36px;
  height: 20px;
  margin: 0;
  background: #ebebeb;
  border-radius: 20px;
  border: 1px;
  border-style: solid;
  border-color: rgb(235, 235, 235);
  transition: all 0.3s cubic-bezier(0.1, 1, 1, 1.2);
}

.search-form__switch::after {
  content: "";
  margin-top: 1px;
  margin-left: 1px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.1, 1, 1, 1.2);
  display: inline-block;
}

.search-form__switch:checked {
  background-color: #2be080;
  border: 1px;
  border-style: solid;
  border-color: rgb(43, 224, 128);
}

.search-form__switch:checked::after {
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
  .search-form__input::placeholder {
    padding-left: 60px;
    font-size: 18px;
  }

  .search-form__input {
    background-color: inherit;
    width: 100%;
    margin: 0;
    padding-left: 45px;
  }

  .search-form__movies::before {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../../images/search.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    left: 28px;
    top: 28px;
  }

  .search-form__text {
    font-size: 13px;
  }

  .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #f9f9f9;
    border-radius: 9px;
  }

  .search-form__movies {
    justify-content: flex-start;
    width: 500px;
    margin: 0;
  }

  .search-form__movies::after {
    content: "";
    height: 40px;
    border-right: 1px;
    border-right-style: solid;
    border-color: rgb(232, 232, 232);
  }

  .search-form__checkbox {
    padding: 0;
    border: none;
    margin: 0;
    margin-left: 22px;
  }
}
@media screen and (min-width: 787px) {
  .search-form {
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .search-form__movies {
    width: calc(90%);
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    justify-content: flex-start;
    padding: 0;
  }
  .search-form__movies {
    width: 903px;
  }
  .search-form__checkbox {
    margin-left: 40px;
  }
}