.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
  }
  
  @media screen and (min-width: 1024px) {
    .header {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media screen and (min-width: 640px) {
    .header {
      padding: 28px 27px 32px 27px;
    }
  }
  
  @media screen and (min-width: 450px) {
    .header {
      flex-direction: column;
    }
  }

  .header__logo {
    max-width: 38px;
    max-height: 38px;
  }
  
  .header__text {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
    margin: 0;
    margin-top: 0;
    padding: 0;
    text-decoration: none;
  }

  .header__text:first-child {
    padding-right: 14px;
  }
  .header__text_type_signin {
    background: #2BE080;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    border-color: #2BE080;
  }
