.navtab__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 217px;
  padding-left: 17px;
  padding-right: 17px;
}

.navtab__link {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  margin-top: 0;
  text-decoration: none;
  background: #e8e8e8;
  padding: 5px 15.5px 5px 15.5px;
  border-radius: 6px;
}
